target/
scripts/app.jar
.mvn/wrapper/maven-wrapper.jar
**/src/main/**/target/
**/src/test/**/target/
api.jar
client.jar
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
log
### IntelliJ IDEA ###
.idea
*.iml
*.ipr
